body {
  font-size: 32px;
  text-align: center;
  background-color: #0B3C5D;
  font-family: Fresca;
  margin: 0;
}

header {
  background-color:#1d2731;
}

h1 {
  color: white;
  font-size: 128px;
  margin-bottom: 20px;
}

table {
  margin:auto;
  border: 2px solid white;
  padding:10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom:50px;
}

button {
  border:1px solid white;
  border-radius: 10px;
  font-family:inherit;
  background-color:#328cc1;
  font-size: 24px;
}

button:focus {
  outline: none;
}

th, tr, td {
  padding:10px;
}

th {
  color:white;
  border-bottom: 1px solid white;
  text-align: center;
  padding-left: 30px;
  font-size: 1.33em;
}

td {
  text-align: left;
}

input[type="text"] {
  font-size: 1em;
}

input:focus {
  outline:none;
}

.completed {
  color:gray;
  font-style: italic;
}

.incomplete {
  color:white;
}

#tableDiv {
  text-align: center;
  margin:auto;
  justify-content: center;
}
